img.img-responsive.img-circle {
    border: white solid 6px;
    border-radius: 75%;
}

img.img-responsive.img-circle:hover {
    border: #18BC9C solid 6px;
}

p.card-text {
    margin: 2px;
}

.profile-card {
    width: 100%;
}

.about-self {
    list-style-type: square;
    font-size: 20px;
    margin-bottom: 20px;
}

i.fa.fa-code.fa-2x,
i.fa.fa-music.fa-2x,
i.fa.fa-camera.fa-2x {
    margin-left: 10px;
    margin-right: 2px;
}

i.fa.fa-code.fa-2x:hover {
    color: #18BC9C;
}

i.fa.fa-music.fa-2x:hover {
    color: #18BC9C;
}

i.fa.fa-camera.fa-2x:hover {
    color: #18BC9C;
}

i.fa.fa-user {
    margin-left: 2px;
}

i.fa.fa-user:hover {
    color: #18BC9C;
}