.top-navbar{
    background: rgb(15, 40, 65);
    position: -webkit-sticky;
}

a.navbar-link {
    font-size: 20px;
    margin-left: 25px;
    color: white;
}

a.navbar-link:hover{
    text-decoration: none;
    color: rgb(35, 97, 85);
}