.jumbotron {
    background-color:#2C3E50;
    color: white;
}

i.fa.fa-github.fa-3x,
i.fa.fa-linkedin.fa-3x {
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    padding: 0.25rem 0;
    font-size: 3rem;
    -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

i.fa.fa-github.fa-3x:hover {
    color: #18BC9C;
    cursor: pointer;
    animation-name: bounce;
    -moz-animation-name: bounce;
}

i.fa.fa-linkedin.fa-3x:hover {
    color: #18BC9C;
    cursor: pointer;
    animation-name: bounce;
    -moz-animation-name: bounce;
}

@keyframes bounce {
    0%,
    100%,
    20%,
    50%,
    80% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0)
    }
    40% {
        -webkit-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        transform: translateY(-30px)
    }
    60% {
        -webkit-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        transform: translateY(-15px)
    }
}

h1.text-center {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px #e83e8c, 0 0 5px #20c997;
    font-family: 'Nunito', sans-serif;
    font-size: 66px;
    font-weight: bolder;
}

#location {
    font-size: 26px;
}